<h1 class="test">HOME PAGE</h1>
<div class="list-group col-lg-3">
  <a href="./insert/InsertCategory" class="list-group-item list-group-item-info">thêm thể loại nhạc</a>
  <a href="./insert/InsertSinger" class="list-group-item list-group-item-info">thêm ca sĩ</a>
  <a href="./insert/InsertPlaylist" class="list-group-item list-group-item-info">thêm playlist</a>
  <a href="./insert/InsertSong" class="list-group-item list-group-item-info">thêm bài hát</a>
  <a href="./insert/InsertAlbum" class="list-group-item list-group-item-info">thêm Album</a>
</div>