<form method="post" action="/admin/loginPost">
  <div class="form-group">
    <label for="username">Tài  khoản</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="nhập tài khoản">
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu">
  </div>
  <div>{{message}}</div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>