<h1>THÊM THỂ LOẠI</h1>

<div class="mt-4 col-lg-4">
    <form method="post" action="insertCategoryPost">
        <div class="form-group">
            <label for="categoryname">Tên thể loại</label>
            <input type="text" name="categoryname" class="form-control" id="categoryname" placeholder="Tên thể loại">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Thể Loại</button>
    </form>
</div>