<h1>Thêm ca sĩ</h1>

<div class="mt-4 col-lg-4">
    <form method="post" action="insertSingerPost" enctype="multipart/form-data">
        <div class="form-group">
            <label for="singername">Tên ca sĩ</label>
            <input type="text" name="singername" class="form-control" id="singername" placeholder="Tên ca sĩ" required>
        </div>
        <div class="form-group">
            <label for="image">chọn hình</label>
            <input type="file" class="form-control-file" id="image" name="image" accept=".png, .jpg" required>
        </div>
        <button type="submit" class="btn btn-primary">Thêm ca sĩ</button>
    </form>
</div>